{
  "parserOptions": {
      "ecmaVersion": 2018,
      "sourceType": "script"
  },
  "plugins": ["import"],
  "rules": {
      "import/no-cycle": "error"
  },
  "overrides": [
      {
          "files": ["*ingestNewsService.js"],
          "parserOptions": {
              "sourceType": "module"
          }
      }
  ]
}
